.abtme{
    margin-top: 10rem;
    margin-left: 3rem;
}




/* Auto ***************************************************************/
.auto{
    margin-top: 5rem;
    margin-left: 15%;
    margin-right: 5%;
    /* position: relative; */
    max-width: 100%;
    padding-left: 2rem;
}


.auto-heading{
    display: grid;
    grid-template-columns: 1fr 2fr;

}

.auto-title{
    margin: 0;
    text-align: center;
    /* border-bottom: 3px double black; */
}

.auto-user{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: center;
}

.auto-user-text{
    justify-items: center;
    align-content: center;
    text-align: right;
    padding-right: 2rem;
    vertical-align: middle;
}

.auto-contents{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    margin: 1px;
    padding: 2px 2px;
    text-align: left;
    justify-content: space-evenly;
    align-content: space-around;
}

.field{
    flex: 1;
    border: 2px solid red;
    padding: 3px 3px;
    vertical-align: auto;
    align-content: space-around;
    justify-items: center;
}

.field-heading{
    margin: 0;
    padding: 1px;
    text-align: center;
    border-bottom: 2px solid black;
}

.heading{
    margin: 1px;
}

h4{
    text-align: left;
    margin: 0;
}

.skill{
    height: max-content;
    margin: 5px;
    margin-bottom: 1rem;
    /* display: flex; */
}

.skill-title{
    border-bottom: 0.5px dashed blue;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 1rem;
    margin-block-start: auto;
    margin-block-end: auto;
}

.skill-output{
    display: block;
    align-items: center;
    justify-content: center;
    min-height: 90%;
    max-height: 100%;
} 

.skill-output-img{
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    display: block;
}


.auto-contents{
    flex-direction: column;
    margin-bottom: auto;
    grid-template-columns: 1fr;
    width: 80%;
    float: right;
}